<!DOCTYPE html>
<html>
    <head>
        <title>Homework 7</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <div id="container">
            <form id="my-form">
                <label>Title</label>
                <input type="text" name="title"/>
                <br>
                <label>Description</label>
                <textarea name="description"></textarea>
                <br>
                <input type="submit" name="submit-button" value="Submit" />
            </form>
        </div>
        <script>
            $("#my-form").on('submit', function(e){
                e.preventDefault();
                $.ajax({
                    url: `http://localhost/work`,
                    type: "POST",
                    dataType: "json",
                    success: function(message){
                        $myDiv = $("#container");
                        $myDiv.append(message);
                    }
                });
            });
        </script>
    </body>
</html>